body
{
    background-color: #ffffff;
    color: #000000;
    font-family: 'Lucida Grande', Verdana, 
                     Geneva, Lucida, Arial, 
                     Helvetica, sans-serif;
    font-size: 10pt;
    margin: 2% 5%;
}
h1, h2, h3, h4, h5, h6, h7
{
    background-color: #dddddd;
    color: #000000;
    text-align: right;
    font-size: 11pt;
}
td.even, td.uneven
{
    color: #000000;
    font-size: 10pt;
}
td.even
{
    background-color: #eeeeee;
}
span.SOURCE
{
    white-space: pre;
}
pre
{
    background-color: #ffffff;
    color: #000000;
    font-size: 10pt;
}
